[submodule "benchmark/RTLLM"]
	path = benchmark/RTLLM
	url = https://github.com/hkust-zhiyao/RTLLM.git
[submodule "benchmark/verilog-eval"]
	path = benchmark/verilog-eval
	url = https://github.com/NVlabs/verilog-eval.git
[submodule "chisel/chiselfv"]
	path = chisel/chiselfv
	url = https://github.com/chenty2002/ChiselFV2.git
[submodule "chisel/pylibfst-cache"]
	path = chisel/pylibfst-cache
	url = https://github.com/chenty2002/pylibfst-cache.git
[submodule "VerilogCausalAnalysis"]
	path = VerilogCausalAnalysis
	url = https://github.com/chenty2002/VerilogCausalAnalysis.git
