[submodule "chisel/chiselfv"]
	path = chisel/chiselfv
	url = https://github.com/chenty2002/ChiselFV2.git
[submodule "chisel/pylibfst-cache"]
	path = chisel/pylibfst-cache
	url = https://github.com/chenty2002/pylibfst-cache.git
[submodule "VerilogCausalAnalysis"]
	path = VerilogCausalAnalysis
	url = https://github.com/chenty2002/VerilogCausalAnalysis.git
